nav {
  max-width: 1280px;
  margin: 0 auto;
  position: fixed;
  // i cannot for the life of me figure out why the nav won't center. it's probably really obvious but i just can't see it.

  .navHolder {
    max-width: 1280px;
    display: flex;
    justify-content: space-between;
    margin: 0 auto;

    .logo {
      img {
        width: 217px;
        height: 55px;
      }
    }
  }
}

.bars {
  display: none;
}

.bars .bar {
  display: block;
  width: 25px;
  margin: 5px 0;
  background-color: black;
  height: 3px;
  border-radius: 15px;
  transition: all 0.3s ease-in-out;
}

.bars.active .bar:nth-child(2) {
  opacity: 0;
}

.bars.active .bar:nth-child(1) {
  transform: translateY(8px) rotate(45deg);
}

.bars.active .bar:nth-child(3) {
  transform: translateY(-8px) rotate(-45deg);
}

.links {
  //   background-color: aqua;
  height: 50px;
  width: 100vw;
  overflow: hidden;
  margin-left: -10px;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  transition: height 0.4s, opacity 0.5s ease-in;
}

.links.active {
  height: 100vh;
  opacity: 1;
}

@media screen and (max-width: 960px) {
  .bars {
    display: block;
  }

  .links {
    height: 0;
    opacity: 0;
    flex-direction: column;
  }
}
